header {
    width: 100vw;
    margin-top: 20px;
}

.machine-top {
    position: relative;
    min-width: 1600px;
    max-width: 95vw;
    height: 210px;
    margin: auto;
    background-color: #EFEFE7;
    background-image: 
        linear-gradient(90deg, #EFEFE7, #F4F3EE);
    box-shadow: 
        0 -2px 2px -0.5px #D0CCC1 inset,
        2px 0 2px -0.5px #E1DFE0 inset,
        0 3px 1px #FBFAF8 inset,
        0 45px 10px -25px rgba(0, 0, 0, 0.1),
        0 65px 50px -10px rgba(0, 0, 0, 0.05);
    border-radius: 15% 15% 10% 10%;
}

.knob {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-image: linear-gradient(#CDC4BD, #CCC3BC, #D1C4BC);
    position: absolute;
    top: 50px;
    left: 85px;
    box-shadow: 
        0 -3px 3px #5E554E inset,
        0 -5px 2px #8E857C inset,
        0 0.75px 0.5px 0.25px #E1D8D1 inset,
        0 -5.5px 0.5px #E1D8D1 inset,
        10px 25px 20px 0px rgba(27, 14, 6, 0.4),
        0 1px 1px 1.5px #D7CEC7;
}

.knob .inner {
    position: absolute;
    top: 5px;
    left: 60px;
    height: 40px;
    width: 2px;
    background-color: #8E857C;
}

.light {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    left: 250px;
    top: 150px;
    background-color: #130C09;
    box-shadow: 0.5px 0.5px 2px 0.25px #E1D8D1 inset,
    0 1px 2px 0.5px black;
}

.light::after {
    content: '';
    position: absolute;
    left: 9px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.head {
    position: absolute;
    width: 280px;
    height: 140px;
    border-radius: 10% 10% 40% 40%;
    background-color: black;
    left: 375px;
    top: 25px;
    padding: 10px;
    box-shadow: 2px 1px 2px 1px rgba(78, 74, 74, 0.567);
}

.head::before {
    content: '';
    position: absolute;
    width: 280px;
    height: 140px;
    border-radius: 10% 10% 40% 40%;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 2px 2px -0.5px #D0CCC1 inset,
        2px 0 2px -0.5px #E1DFE0 inset;
}

.head.two {
    left: 750px;
}

.head-icons {
    display: flex;
    justify-content: space-around;
    width: 260px;
    height: 20px;
}

.head-icon {
    color: white;
    margin-top: 15px;
    margin-left: 20px;
    z-index: 10;
    text-shadow: 2px 2px 0 black;
}

.head-icon.double {
    position: relative;
    left: -15px;
}

.head-icon.double i {
    position: absolute;
}

i.second {
    color: #dbdbdb;
    left: 10px;
}

.head-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    top: 60px;
    left: 25px;
}

.head-button {
    height: 50px;
    width: 50px;
    border-radius: 40% 40% 20% 20%;
    background-color: #ffffff;
    background-image: linear-gradient(130deg,
        rgba(143, 143, 143, 0.8) 0%,
        rgba(217, 217, 217, 0.6) 33%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(217, 217, 217, 0.6) 69%,
        rgba(143, 143, 143, 0.8) 100%);
    background-size: 200% 100%;
    background-position-x: 100%;
    box-shadow: 0 3px 2px 1px #ffffff inset,
        2px 0 3px 5px #E1DFE0 inset,
        2px 2px 5px 1px black;
}

.screen-container {
    display: block;
    position: absolute;
    width: 300px;
    height: 165px;
    border-radius: 5px;
    background-color: black;
    right: 150px;
    top: 20px;
    box-shadow: 2px 1px 2px 1px rgba(78, 74, 74, 0.567);
}

.screen-display {
    display: block;
    width: 260px;
    height: 130px;
    background-image: radial-gradient(#060924, #021b22);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 0 0 20px 10px #03011f inset,
    0 0 2px 1px #9b8c80
    0 0 1px 2px black;
    padding: 7px 12px;
    overflow: hidden;
}

.screen-display p, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: rgb(228, 228, 226);
}

.menu-buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

.menu-buttons .button {
    background-image:radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(239, 253, 255, 0.656) 100%);
    box-shadow: 0 0 20px 5px #bbffff6b inset;
    padding: 6px;
    border-radius: 5px;
    color: #201921;
    width: 40px;
    height: 10px;
}

#clock {
    position: absolute;
    bottom: 0;
}

.wand {
    position: relative;
    top: 170px;
    left: 70px;
}

.wand * {
    transform: rotate(0.03turn);
}

.wand .top {
    background-color: #ffffff;
    background-image: linear-gradient(90deg,
            rgba(143, 143, 143, 0.8) 0%,
            rgba(217, 217, 217, 0.6) 33%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(217, 217, 217, 0.6) 69%,
            rgba(143, 143, 143, 0.8) 100%);
    z-index: -1;
}

.wand .top {
    height: 250px;
    width: 30px;
    position: absolute;
    border-radius: 10% 10% 0 0;
    box-shadow: 0px 25px 20px -10px rgba(27, 14, 6, 0.4) inset;
}

.wand .rubber {
    height: 120px;
    width: 40px;
    position: absolute;
    top: 70px;
    left: -5px;
    background-color: #130C09;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(217, 217, 217, 0.2) 45%,
            rgba(143, 143, 143, 0.1) 70%,
            rgba(217, 217, 217, 0.2) 80%,
            rgba(255, 255, 255, 0.4) 100%);
    border-radius: 10%;
}

